POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=food_umkm_hub_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

APP_ENV=local

FRONTEND_URL=http://localhost:5173

JWT_SECRET=supersecret123
JWT_TTL_MINUTES=43200
JWT_ALGORITHM=HS256

ORDER_EXPIRY_MINUTES=2
REJECTION_GRACE_PERIOD_MINUTES=5
